<div class="reset-main">
  <h2>Reset Your Password</h2>
  <div class="reset-box">

    <form [formGroup]="user">
      <div class="resetBox fields">
        <input type="password" name="" formControlName="password" placeholder="Password">
      </div>
      <div class="errors" *ngIf=" user.get('password').hasError('required')  && user.get('password').dirty">*Required
      </div>
      <div class="errors" *ngIf=" user.get('password').hasError('minlength')  && user.get('password').dirty">Your
        password must be at least 6 characters long!
      </div>
      <br>
      <div class="resetBox fields">
        <input type="password" name="" formControlName="confirmPassword" placeholder="Confirm Password">
      </div>
      <div class="errors" *ngIf=" user.get('password').hasError('required')  && user.get('password').dirty">*Required
      </div>
      <div class="errors" *ngIf="passwordsMatch">Passwords don't match!</div>
      <br>

      <button class="fields" type="submit" name="" value="ResetPassword" [disabled]="user.invalid"
              (click)="reset()">Reset password
      </button>
      <br>
      <a routerLink="/login" class="signIn">Sign in</a> <br>
    </form>
  </div>
</div>

