.loginBox {
  box-sizing: border-box;
  margin: 15px 0;
  padding: 17px 23px;
  border-radius: 40px;
  max-width: 380px;
  width: 100%;
  display: inline-block;
  font-weight: bolder;
  color: #6180c0;
  background-color: white;
  outline: none;
  border: none;
}

a {
  font-size: 16px;
  font-weight: 600;
  font-family: unset;
  color: #6180c0;
  text-decoration: none;
}

.forgotPassword {
  font-size: 14px;
  font-weight: 500;
}

input::placeholder {
  font-family: unset;
  color: #6180c0;
  font-weight: 700;
  font-size: 17px;
  align-items: center;
}

input {
  box-sizing: border-box;
  border: none;
  font-size: 17px;
  align-items: center;
  outline: none;
  width: 100%;
}

button {
  margin-top: 7px;
  margin-bottom: 9px;
  max-width: 280px;
  width: 100%;
  height: 50px;
  padding: 7px;
  border: none;
  border-radius: 100px;
  background-color: #9deaaa;
  font-size: 17px;
  font-family: unset;
  font-weight: 700;
  color: white;
}

.login-main {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e8f3fd;
}

.errors {
  color: #c42525;
}
