<div class="reset-main">
  <h2>Find Your Account</h2>
  <div class="reset-box">

    <form [formGroup]="user">
      <div class="resetBox fields">
        <input type="text" name="" formControlName="email" placeholder="Email"> <br>
      </div>
      <div class="errors" *ngIf=" user.get('email').hasError('required') && user.get('email').dirty">*Required</div>
      <div class="errors" *ngIf=" user.get('email').hasError('email') && user.get('email').dirty">Not valid email</div>
      <br>

      <a>Please enter your email to receive a link <br> for reset password</a> <br>

      <button class="fields"  type="submit" name="" value="ResetPassword" [disabled]="user.invalid"
              (click)="resetPassword()">Reset password
      </button>
      <br>
      <a routerLink="/login" class="signIn">Sign in</a> <br>
    </form>
  </div>
</div>




